<div>
  <div class="container">
    <div class="imageShow" style="position:relative;">
      <img src="{{ '../../' + breweryService.viewModel.image}}" height="150px" width="300px"/>
    </div>
  </div>
  <br>
  <nav class="container" *ngIf="!edit">
    <button (click)="onClick('info',0)" [class.activeNavigation]="activeNavigation===0">Info</button>
    <button (click)="onClick('beers',1)" [class.activeNavigation]="activeNavigation===1">Beers</button>
  </nav>
  <br>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>


