<h4>Total Beers enjoyed<span class="badge pull-right">{{userService.viewModel.totalConsumption}}</span></h4>
<h4>Enjoyed brews</h4>
<ul class="list-group stats-list">
  <li *ngFor="let consumption of userService.viewModel.totalConsumptionPerBeer" class="list-group-item">
    {{consumption.name}} <span class="badge">{{consumption.total}}</span>
  </li>
</ul>
<h4>Earned Badges</h4>
<span *ngFor="let badge of userService.viewModel.badges">
  <img src="{{badge.getImage('../../assets/badges/')}}" class="badge-image" title="{{badge.title}}"/>
</span>
