<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <div>
          <label>Name</label>
        </div>
        <p>{{beerService.viewModel.brewery.name}}</p>
      </div>

      <div *ngIf="beerService.viewModel.brewery.address" class="form-group">
        <div>
          <label>Address</label>
        </div>
        <p>{{beerService.viewModel.brewery.address}}</p>
      </div>

      <div  *ngIf="beerService.viewModel.brewery.city" class="form-group">
        <div>
          <label>City</label>
        </div>
        <p>{{beerService.viewModel.brewery.city}}</p>
      </div>

      <div  *ngIf="beerService.viewModel.brewery.country" class="form-group">
        <div>
          <label>Country</label>
        </div>
        <p>{{beerService.viewModel.brewery.country}}</p>
      </div>

      <div  *ngIf="beerService.viewModel.brewery.tel" class="form-group">
        <div>
          <label>Telephone number</label>
        </div>
        <p>{{beerService.viewModel.brewery.tel}}</p>
      </div>

      <div  *ngIf="beerService.viewModel.brewery.email" class="form-group">
        <a href="mailto:{{beerService.viewModel.brewery.email}}">{{beerService.viewModel.brewery.email}}</a>
      </div>

      <div  *ngIf="beerService.viewModel.brewery.homepage" class="form-group">
        <a href={{beerService.viewModel.brewery.breweryhomepage}}>{{beerService.viewModel.brewery.homepage}}</a>
      </div>

      <div  *ngIf="beerService.viewModel.brewery.description" class="form-group">
        <div>
          <label>Description</label>
        </div>
        <p>
          {{beerService.viewModel.brewery.description}}
        </p>
      </div>
    </div>
  </div>
</div>
