<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="margin-20">
        <h4>Beer edit</h4>
      </div>
      <form [formGroup]="beerForm" novalidate (ngSubmit)="save()">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="name">
          <div *ngIf="nameCtrl.invalid">
            <small *ngIf="nameCtrl.hasError('required')" class="text-danger">
              Name is required
            </small>
          </div>
        </div>
        <div class="form-group">
          <label>Alcohol in %</label>
          <input type="text" class="form-control" formControlName="volume" placeholder="Alcohol in %?">
          <div *ngIf="nameCtrl.invalid">
            <small *ngIf="nameCtrl.hasError('required')" class="text-danger">
              Name is required
            </small>
          </div>
        </div>
        <div class="form-group">
          <label>Brewery</label>
          <input type="text" class="form-control" formControlName="brewery" placeholder="Brewery?">
          <div *ngIf="nameCtrl.invalid">
            <small *ngIf="nameCtrl.hasError('required')" class="text-danger">
              Name is required
            </small>
          </div>
        </div>
        <div class="form-group">
          <label>Taste</label>
          <select class="form-control" formControlName="taste" placeholder="Taste?">
            <option readonly=submitted *ngFor="let t of taste" [value]="t">{{t}}</option>
          </select>
          <div *ngIf="nameCtrl.invalid">
            <small *ngIf="nameCtrl.hasError('required')" class="text-danger">
              Name is required
            </small>
          </div>
        </div>
        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" formControlName="description">
          <div *ngIf="descriptionCtrl.invalid">
            <small *ngIf="descriptionCtrl.hasError('required')" class="text-danger">
              Description is required
            </small>
          </div>
        </div>

        <div class="margin-20">
          <button type="submit" class="btn btn-primary pull-right" [disabled]="!beerForm.valid">Submit</button>
        </div>
        <div class="clearfix"></div>

        <!--<div class="margin-20">-->
          <!--<div>myForm details:-</div>-->
          <!--<pre>Is myForm valid?: <br>{{beerForm.valid | json}}</pre>-->
          <!--<pre>form value: <br>{{beerForm.value | json}}</pre>-->
        <!--</div>-->
      </form>
    </div>
  </div>
</div>
