<h2>Beer edit</h2>
<div class="container">
  <div>
    <h1>Beer edit</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [readonly]=submitted
               required
               placeholder="Beer name?"
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="brewery">Brewery</label>
        <input type="text" class="form-control" id="brewery" [readonly]=submitted placeholder="Brewery?"
               [(ngModel)]="model.brewery" name="brewery">
      </div>

      <div class="form-group">
        <label for="taste">Tasty</label>
        <select class="form-control" id="taste" placeholder="Taste?"
                required
                [(ngModel)]="model.taste" name="taste"
                #power="ngModel">
          <option readonly=submitted *ngFor="let t of taste" [value]="t">{{t}}</option>
        </select>
        <div [hidden]="power.valid || power.pristine" class="alert alert-danger">
          Taste is required
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid" [hidden]="submitted">Submit</button>
      <button type="button" class="btn btn-default" (click)="submitted=true" [hidden]="submitted">Back</button>
      <button class="btn btn-primary" (click)="submitted=false" [hidden]="!submitted">Edit</button>


    </form>
  </div>
</div>
