<div class="container">
  Avaliable Beers
  <div style="overflow-y:scroll; height:300px; background:gray">
    <ul class="list-group">
      <li *ngFor="let beer of service.viewModel.beers | async" class="list-group-item">
        {{beer.beerName}} ,{{beer.price}}
        <button (click)="onShowBeer(beer.beerId)" class="btn btn-default btn-sm  pull-right">
        <span class="glyphicon glyphicon-sunglasses"></span>
        </button>
      </li>
    </ul>

  </div>
</div>
<div class="container">
  <button class="btn btn-default btn-sm center-block" (click)="onAddBeer()">
    <span class="glyphicon glyphicon-glass"></span>
    <span class="	glyphicon glyphicon-plus"></span>
    Add a Beer
  </button>
</div>


