<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <form (ngSubmit)="onSubmit()" #linkForm="ngForm">
        <div class="form-group">
          <div>
            <label for="price">Price</label>
          </div>
          <input type="number" class="form-control" id="price" required placeholder="price is required"
                 [(ngModel)]="model.price" name="name" #price="ngModel">
          <div [hidden]="price.valid" class="alert alert-danger">
            <small class="text-danger">
              Price is required .
            </small>
          </div>
        </div>


        <div class="form-group">
          <div>
            <label for="serving">Serving bottled</label>
          </div>
          <input type="checkbox" class="form-control" id="serving"
                 [(ngModel)]="model.tapOrBottled" name="serving" #serving="ngModel">
        </div>

        <button type="submit" class="btn btn-default btn-sm" [disabled]="!linkForm.form.valid">Add</button>

      </form>
    </div>
  </div>
</div>
