<div class="container-fluid section-h4-container">
  <span class="section-h4">
    Served chilled here:
  </span>
  <span *ngIf="filter ==1 && !itemAddDisable">
        <a class="btn btn-default btn-sm pull-right" (click)="onAddItem()">
          <i class="fa fa-cutlery fa-2x" aria-hidden="true"></i>
          Add bar
        </a>
      </span>
  <span *ngIf="filter ==3 && !itemAddDisable">
        <a class="btn btn-default btn-sm pull-right" (click)="onAddItem()">
          <i class="fa fa-beer fa-2x" aria-hidden="true"></i>
          Add beer
        </a>
      </span>
</div>

<div *ngIf="!search && !linkInformation">
  <ul class="list-group">
    <li *ngFor="let item of items | async" class="list-group-item">
      <hr class="hr-gradient-slim">
      <span *ngIf="filter ==1" (click)="onBarShow(item.barId)">
          {{item.barName}}, {{item.price}} CHF
          <a (click)="onRemoveItem(item.barId)" class="btn btn-default btn-sm pull-right">
            <i class="fa fa-times fa-2x" aria-hidden="true"></i>
          </a>
          <a (click)="OnChangePriceFromBar(item)" class="btn btn-default btn-sm pull-right">
            <i class="fa fa-usd fa-2x" aria-hidden="true"></i>
          </a>
        </span>

      <span *ngIf="filter ==3 && !dataIsBeerModel" style="overflow: hidden;">
          <span (click)="onBeerShow(item.beerId)">
            {{item.beerName}}, {{item.price}} CHF
          <a (click)="onRemoveItem(item.beerId)" class="btn btn-default btn-sm pull-right">
            <i class="fa fa-times fa-2x" aria-hidden="true"></i>
          </a>
          <a (click)="cheers(item.beerId)" class="btn btn-default btn-sm pull-right">
            <i class="fa fa-beer fa-2x" aria-hidden="true"></i>
          </a>
          <a (click)="OnChangePriceFromBeer(item)" class="btn btn-default btn-sm pull-right">
            <i class="fa fa-usd fa-2x" aria-hidden="true"></i>
          </a>
          </span>
        </span>

      <span *ngIf="filter ==3 && dataIsBeerModel" style="overflow: hidden;" (click)="onBeerShow(item.Id)">
          <span (click)="onBeerShow(item.id)">
            {{item.name}}
          </span>
          <a (click)="cheers(item.id)" class="btn btn-default btn-sm pull-right">
            <i class="fa fa-beer" aria-hidden="true"></i>
          </a>
        </span>

    </li>
  </ul>
</div>


<div *ngIf="search && !linkInformation">
  <div>
    <a (click)="onAddItem()" class="btn btn-default btn-sm">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </a>
  </div>
  <app-search-result
    [filter]="filterSubject"
    [search]="searchSubject"
    [addDisable]="itemAddDisable"
    [ignorList]="searchIgnorList"
    (onSearchResult)="onResult($event)"
    (onAddBeer)="onCreateBeer($event)">
  </app-search-result>
</div>

<div *ngIf="linkInformation">
  <app-link-information [model]="linkModel" (onAddBeerBarModel)="OnAddPrice($event)"></app-link-information>
</div>
