.imageShow {
  width: 170px;
  float: left;
}

.Rating {
  margin-left: 15%;
}

.formInputButtonField {
  /* This bit sets up the horizontal layout */
  display: flex;
  flex-direction: row;
  /* This bit draws the box around it */
  border: 1px solid grey;
  padding: 2px;
}

.formInputButtonField input {
  /* Tell the input to use all the available space */
  flex-grow: 2;
  /* And hide the input's outline, so the form looks like the outline */
  border: none;
}


