<div *ngIf="!imageUploadShow">
  <div class="container">
    <div class="imageShow" style="position:relative;" >
    <img src="{{ '../../' + beerService.viewModel.image}}" height="150px" width="150px"/>
      <button *ngIf="edit" class="btn btn-default btn-sm" style="position:absolute;left:115.49px;top:120px;" (click)="onImageEdit()">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
    </div>
    <div class="Rating">
      <app-beer-rating
        ratingBad={{beerService.viewModel.ratings[0]}}
        ratingOk={{beerService.viewModel.ratings[1]}}
        ratingGreat={{beerService.viewModel.ratings[2]}}
        [rating]='beerService.viewModel.userRating'
        (onRatingChange)="onRatingChange($event)">
      </app-beer-rating>
    </div>
  </div>
  <br>
  <!--<nav class="container" *ngIf="!edit">-->
    <!--<button (click)="onClick('details')">Detail</button>-->
    <!--<button (click)="onClick('brewery')">Brewery</button>-->
    <!--<button (click)="onClick('bars')">Bars</button>-->
  <!--</nav>-->
  <br>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

<app-image-uploader titleDetail={{model.name}} *ngIf="imageUploadShow"></app-image-uploader>
