<div>
  <div class="container">
    <!--<img src="{{ '../../assets/logos/logo-1.jpg' }}" height="150px" width="150px"/>-->
    <img src="{{ '../../' + model.image}}" height="150px" width="150px"/>
    <app-beer-rating
      ratingBad = {{ratings[1]}}
      ratingOk = {{ratings[2]}}
      ratingGreat = {{ratings[3]}}
      rating = 1
      (onRatingChange)="onRatingChange($event)">
    </app-beer-rating>
  </div>
  <nav class="container" *ngIf="visibleChildNavigation">
    <button (click)="onClick('details')">Detail</button>
    <button (click)="onClick('brewery')">Brewery</button>
    <button (click)="onClick('bars')">Bars</button>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
