<div *ngIf="!imageUploadShow">
  <div class="container">
    <div class="imageShow" style="position:relative;">
      <img src="{{ '../../' + barService.viewModel.image}}" height="150px" width="150px"/>
    </div>
    <div class="Rating">
      <app-beer-rating
        ratingBad={{barService.viewModel.ratings[0]}}
        ratingOk={{barService.viewModel.ratings[1]}}
        ratingGreat={{barService.viewModel.ratings[2]}}
        [rating]='barService.viewModel.userRating'
        (onRatingChange)="onRatingChange($event)">
      </app-beer-rating>
    </div>
  </div>
  <br>
  <nav class="container" *ngIf="!edit">
    <button (click)="onClick('info',0)" [class.activeNavigation]="activeNavigation===0">Info</button>
    <button (click)="onClick('beers',1)" [class.activeNavigation]="activeNavigation===1">Beers</button>
    <button (click)="onClick('openingHours',2)" [class.activeNavigation]="activeNavigation===2">{{barService.viewModel.openNowText}}</button>
    <button (click)="onClick('photos',3)" [class.activeNavigation]="activeNavigation===3">Photos</button>
    <button (click)="onClick('map',4)" [class.activeNavigation]="activeNavigation===4">Map</button>
  </nav>
  <br>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

<!--<app-image-uploader titleDetail={{model.name}} *ngIf="imageUploadShow"></app-image-uploader>-->
