<div *ngIf="!imageUploadShow">
  <div class="container">
    <div class="imageShow" style="position:relative;">
      <img src="{{ '../../' + barService.viewModel.image}}" height="150px" width="150px"/>
    </div>
    <div class="Rating">
      <app-rating
        ratingBad={{barService.viewModel.ratings[0]}}
        ratingOk={{barService.viewModel.ratings[1]}}
        ratingGreat={{barService.viewModel.ratings[2]}}
        [rating]='barService.viewModel.userRating'
        (onRatingChange)="onRatingChange($event)">
      </app-rating>
    </div>
  </div>
  <br>
  <ul class="nav nav-pills nav-justified" *ngIf="!edit">
    <li role="presentation">
      <a (click)="onClick('info',0)" [class.activeNavigation]="activeNavigation===0" [class.inactiveNavigation]="activeNavigation !== 0">Info</a>
    </li>
    <li role="presentation">
      <a (click)="onClick('beers',1)" [class.activeNavigation]="activeNavigation===1" [class.inactiveNavigation]="activeNavigation !== 1">Beers</a>
    </li>
    <li role="presentation">
      <a (click)="onClick('openingHours',2)" [class.activeNavigation]="activeNavigation===2" [class.inactiveNavigation]="activeNavigation !== 2">
        {{barService.viewModel.openNowText}}
      </a>
    </li>
    <li role="presentation">
      <a (click)="onClick('photos',3)" [class.activeNavigation]="activeNavigation===3" [class.inactiveNavigation]="activeNavigation !== 3">Photos</a>
    </li>
  </ul>
  <br>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

<div class="col-md-4 text-center">
  <button (click)="onVisit()" class="btn btn-default btn-lg">
    <i class="fa fa-cutlery" aria-hidden="true"></i>
    Visit
  </button>
</div>
