<div *ngIf="!imageUploadShow">
  <div class="container">
    <div class="imageShow" style="position:relative;">
      <img src="{{ '../../' + barService.viewModel.image}}" height="150px" width="150px"/>
    </div>
    <div class="Rating">
      <app-beer-rating
        ratingBad={{ratings[1]}}
        ratingOk={{ratings[2]}}
        ratingGreat={{ratings[3]}}
        rating=1
        (onRatingChange)="onRatingChange($event)">
      </app-beer-rating>
    </div>
  </div>
  <br>
  <nav class="container" *ngIf="!edit">
    <button (click)="onClick('beers')">Beers</button>
    <button (click)="onClick('info')">Info</button>
    <button (click)="onClick('openingHours')">Open now</button>
    <button (click)="onClick('photos')">Photos</button>
  </nav>
  <br>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

<!--<app-image-uploader titleDetail={{model.name}} *ngIf="imageUploadShow"></app-image-uploader>-->
