<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form #beerForm="ngForm">
        <div class="form-group">
          <div>
            <label>Name</label>
          </div>
          <input [value]="barService.viewModel.name" readonly>
        </div>

        <div class="form-group">
          <div>
            <label>Address</label>
          </div>
          <input [value]="barService.viewModel.address" readonly>
        </div>

        <div class="form-group">
          <div>
            <label>City</label>
          </div>
          <input [value]="barService.viewModel.city"  readonly>
        </div>

        <div class="form-group">
          <div>
            <label>Description</label>
          </div>
          <input [value]="barService.viewModel.description" readonly>
        </div>

        <div class="form-group">
          <label>Smoking allowed: </label>
          <label>{{barService.viewModel.isSmokingAllowed}}</label>
        </div>

        <div class="form-group">
          <label>Snaks: </label>
          <label>{{barService.viewModel.snacks}}</label>
        </div>

        <div class="form-group">
          <label>Size: </label>
          <label>{{barService.viewModel.size}}</label>
        </div>

      </form>
    </div>
  </div>
</div>
