<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form #beerForm="ngForm">
        <div class="form-group">
          <div>
            <label>Name</label>
          </div>
          <input [value]="model.name" readonly>
        </div>

        <div class="form-group">
          <div>
            <label>Brewery</label>
          </div>
          <input [value]="model.brewery.name" readonly>
        </div>

        <div class="form-group">
          <div>
            <label>Alcohol in %</label>
          </div>
          <input [value]="model.volume"  readonly>
        </div>

        <div class="form-group">
          <div>
            <label>Taste</label>
          </div>
          <input [value]="taste"  readonly>
        </div>

        <div class="form-group">
          <div>
            <label>Brew type</label>
          </div>
          <input [value]="brewType"  readonly>
        </div>

        <div class="form-group">
          <div>
            <label >Description</label>
          </div>
          <input [value]="model.description" readonly>
        </div>
      </form>
    </div>
  </div>
</div>
