<!--The whole content below can be removed with the new code.-->

<nav class="container">
  <a *ngIf="this.menu.visibleHomeLink" routerLink="/home" routerLinkActive="active">&lt;</a>
  <p *ngIf="this.menu.visibleTitle" style="display:inline">{{menu.TitleText}}</p>
  <input *ngIf="this.menu.visibleSearchInput" type="text" class="form-control" >
  <a *ngIf="this.menu.visibleSearchLink" routerLink="/search" routerLinkActive="active">search</a>
  <button *ngIf="this.menu.visibleEdit" (click)="onViewDetails()">edit</button>
  <button *ngIf="this.menu.visibleSave" (click)="menu.submit()">save</button>
</nav>


<router-outlet></router-outlet>
<!--<homemain></homemain>-->
