<div class="btn-group pull-right">
  <div class="pull-left">
    <a class="btn btn-default center-block" (click)="onChange(1)" [class.activeRating]="rating == 0">
      <i class="fa fa-minus fa-2x" aria-label="false"></i>
    </a>
    <br>
    <span class="badge center-block">{{ratingBad}}</span>
  </div>

  <div class="pull-left">
    <a class="btn btn-default center-block" (click)="onChange(2)" [class.activeRating]="rating == 1">
      <i class="fa fa-check fa-2x" aria-label="false"></i>
    </a>
    <br>
    <span class="badge center-block">{{ratingOk}}</span>
  </div>

  <div class="pull-left">
    <a class="btn btn-default center-block" (click)="onChange(3)" [class.activeRating]="rating == 2">
      <i class="fa fa-plus fa-2x" aria-label="false"></i>
    </a>
    <br>
    <span class="badge center-block">{{ratingGreat}}</span>
  </div>
</div>
