
  <div class="btn-group" data-toggle="buttons">
    <label class="btn active" [class.activeRating]="activeRating[0]">
      <input name="options" type="radio"  (click)="onChange(1)">
      <span class="glyphicon glyphicon-minus"></span>
    </label>

    <label class="btn active" [class.activeRating]="activeRating[1]">
      <input name="options" type="radio" (click)="onChange(2)">
      <span class="	glyphicon glyphicon-ok"></span>
    </label>

    <label class="btn t active" [class.activeRating]="activeRating[2]">
      <input name="options" type="radio" (click)="onChange(3)">
      <span class="glyphicon glyphicon-plus"></span>
    </label>
  </div>
  <div>
    <label style="text-align:center;width: 37px">({{ratingBad}})</label>
    <label style="text-align:center;width: 37px">({{ratingOk}})</label>
    <label style="text-align:center;width: 34.51px">({{ratingGreat}})</label>
</div>

