<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header pull-left">
      <button *ngIf="menuState.visibleMenu" type="button" class="navbar-toggle collapsed menubutton-left"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false" (click)="onToggleMenu()">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <button *ngIf="menuState.visibleHomeLink" routerLink="/home" routerLinkActive="active"
              class="btn btn-default pull-left menubutton-left">
        <i class="fa fa-home" aria-hidden="true"></i>
      </button>
      <button *ngIf="menuState.visibleBack" type="button" class="btn btn-default pull-left menubutton-left"
              (click)="historyBack()">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </button>
    </div>
    <a *ngIf="menuState.visibleTitle" class="navbar-brand" href="#">{{menuState.titleText}}</a>
    <form *ngIf="menuState.visibleSearchInput" class="navbar-left navbar-search" role="search">
      <div class="form-group">
        <input type="text" (input)="this.menuService.onInput($event.target.value)"
               class="form-control" placeholder="Search">
      </div>
    </form>
    <div class="navbar-header pull-right">
      <a *ngIf="menuState.visibleSearchLink" routerLink="/search" routerLinkActive="active" role="button"
         class="btn btn-default menubutton-right">
        <i class="fa fa-search" aria-hidden="true"></i>
      </a>

      <a *ngIf="menuState.visibleEdit" (click)="onViewDetails()" class="btn btn-default menubutton-right">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </a>
      <a *ngIf="menuState.visibleSave" (click)="this.menuService.onSubmit()" type="submit"
         class="btn btn-default menubutton-right">
        <i class="fa fa-check" aria-hidden="true"></i>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"
         [ngClass]="{ 'toggleMenuStyle' : toggleMenu === true }">
      <ul class="nav navbar-nav">
        <li *ngIf="authGuard.isLoggedOn" [ngClass]="{ 'menuitem-first': toggleMenu === true }">
          <a (click)="onUserClick()">
            <i class="fa fa-user" aria-hidden="true"></i>&nbsp;{{businessService.currentUser.firstname}},
            {{businessService.currentUser.lastname}}
          </a>
        </li>
        <li>
          <a *ngIf="authGuard.isLoggedOn" href="#">
            <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;Settings
          </a>
        </li>
        <li>
          <button *ngIf="authGuard.isLoggedOn" type="button" class="btn btn-link pull-left menubutton-left"
                  (click)="logOut()">
            <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout
          </button>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

