<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header pull-left">
      <button *ngIf="menuState.visibleMenu" type="button" class="navbar-toggle collapsed menubutton-left"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false" (click)="onToggleMenu()">
        <span class="sr-only">Toggle navigation</span>
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <span class="glyphicon glyphicon-menu-hamburger"></span>

      </button>
      <button *ngIf="menuState.visibleHomeLink" routerLink="/home" routerLinkActive="active"
      class="btn btn-default pull-left menubutton-left">
      <span class="glyphicon glyphicon-home"></span>
      </button>
      <button *ngIf="menuState.visibleBack" type="button" class="btn btn-default pull-left menubutton-left"
              (click)="historyBack()">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
    </div>
    <a *ngIf="menuState.visibleTitle" class="navbar-brand" href="#">{{menuState.titleText}}</a>
      <form *ngIf="menuState.visibleSearchInput" class="navbar-left navbar-search" role="search">
        <div class="form-group">
          <input type="text" (input)="this.menuService.onInput($event.target.value)"
                 class="form-control" placeholder="Search">
        </div>
      </form>
    <div class="navbar-header pull-right">
      <a *ngIf="menuState.visibleSearchLink" routerLink="/search" routerLinkActive="active" role="button"
         class="btn btn-default menubutton-right">
        <span class="glyphicon glyphicon-search"></span>
      </a>

      <a *ngIf="menuState.visibleEdit" (click)="onViewDetails()" class="btn btn-default menubutton-right">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
      <a *ngIf="menuState.visibleSave" (click)="this.menuService.onSubmit()" type="submit"
              class="btn btn-default menubutton-right">
        <span class="glyphicon glyphicon-ok"></span>
      </a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"
         [ngClass]="{ 'toggleMenuStyle' : toggleMenu === true }">
      <ul class="nav navbar-nav">
        <li [ngClass]="{ 'menuitem-first': toggleMenu === true }"><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;Account</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-cog"></span>&nbsp;Settings</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

