<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">

        <div *ngIf="userService.viewModel.address" class="form-group">
          <div>
            <label>Address</label>
          </div>
          <p>{{userService.viewModel.address}}</p>
        </div>

        <div *ngIf="userService.viewModel.city" class="form-group">
          <div>
            <label>City</label>
          </div>
          <p>{{userService.viewModel.city}}</p>
        </div>

        <div *ngIf="userService.viewModel.tel" class="form-group">
          <div>
            <label>Telephone number</label>
          </div>
          <p>{{userService.viewModel.tel}}</p>
        </div>

        <div *ngIf="userService.viewModel.dateOfBirth" class="form-group">
          <div>
            <label>Date of birth</label>
          </div>
          <p>{{userService.viewModel.dateOfBirth}}</p>
        </div>

      </div>
    </div>
  </div>
