<div class="container">
  Avaliable Beers
  <div style="overflow-y:scroll; height:300px; background:gray">
    <ul class="list-group">
      <li *ngFor="let beer of breweryService.viewModel.beers | async" class="list-group-item">
        {{beer.name}} ,{{beer.volume}}%
        <span class="glyphicon glyphicon-sunglasses pull-right"></span>
      </li>
    </ul>

  </div>
</div>
<div class="container">
  <button class="btn btn-default btn-sm center-block" (click)="onAddBeer()">
    <span class="glyphicon glyphicon-home"></span>
    <span class="	glyphicon glyphicon-plus"></span>
    Add a Beer
  </button>
</div>
