<div>
  <div class="container">
    <div class="imageShow" style="position:relative;">
      <img src="{{ '../../' + userService.viewModel.image}}" height="150px" width="150px"/>
    </div>
    <div class="Rating">
      <h2>{{userService.viewModel.firstname}} {{userService.viewModel.lastname}}</h2>
    </div>
    <div>
      {{userService.viewModel.totalConsumption}} since {{userService.viewModel.registrationDate}}
    </div>
  </div>
  <br>
  <ul class="nav nav-pills nav-justified">
    <li role="presentation">
      <a (click)="onClick('friends', 0)" [class.activeNavigation]="activeNavigation===0"
         [class.inactiveNavigation]="activeNavigation !== 0">Friends</a>
    </li>
    <li role="presentation">
      <a (click)="onClick('favourites', 1)" [class.activeNavigation]="activeNavigation===1"
         [class.inactiveNavigation]="activeNavigation !== 1">Favourites</a>
    </li>
    <li role="presentation">
      <a (click)="onClick('badges', 2)" [class.activeNavigation]="activeNavigation===2"
         [class.inactiveNavigation]="activeNavigation !== 2">Stats</a>
    </li>
    <li role="presentation">
      <a (click)="onClick('detail', 3)" [class.activeNavigation]="activeNavigation===3"
         [class.inactiveNavigation]="activeNavigation !== 3">Detail</a>
    </li>
  </ul>
  <br>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
