/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0
}

body {
  padding-top: 70px;
}


.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 1px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 500px;
}

.horizontal-scroller-outer {
  overflow: scroll;
  width: 100vw;
  height: 80px;
}

.horizontal-scroller-inner {
  width: 850px;
}

.activeNavigation {
  background: #eeeeee;
  border-color: #337ab7;
  border-style: solid solid none solid;
  border-width: 1px;
  border-radius: 5px 5px 0 0 !important;
}

.activeNavigation:hover {
  color: #337ab7;
}

.inactiveNavigation {
  background: #f9f9f9;
  color: #3a9de1;
  border-color: #337ab7;
  border-style: none none solid none;
  border-width: 1px;
  border-radius: 0 !important;
}

.nav-pills > li + li {
  margin-left: 0;
}

.nav-justified > li {
  display: table-cell;
  width: 1%;
}

.nav-justified > li > a {
  margin-bottom: 0;
}
