/* You can add global styles to this file, and also import other style files */
.horizontal-scroller-outer {
  overflow: scroll;
  width: 100vw;
  height: 7em;
}

.horizontal-scroller-inner {
  width: 60em;
}

.activeNavigation {
  background: lightgray;
  border-style: solid solid none solid;
  border-width: 1px;
  border-color: #337ab7;
  border-radius: 5px 5px 0 0 !important;
}

.inactiveNavigation {
  background: #f9f9f9;
  border-style: none none solid none;
  border-width: 1px;
  border-color: #337ab7;
  border-radius: 0 !important;
}
