<div class="container">
  <h4>Around you</h4>
  <div style="max-height: 25vh; overflow: scroll">
    <ul class="list-group">
      <li *ngFor="let data of arroundYou | async"
          [class.selected]="isSelected(data)"
          (click)="onSelect(data)"
          class="list-group-item">
        <i class={{data.icon}} aria-hidden="true"></i>
        <span class="badge">{{ data.distance }} {{data.unit}}</span>
        {{ data.name }}
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <app-beer-top10 [title]="'Your top 10 beers'" [beers]="beers"></app-beer-top10>
  <app-beer-top10 [title]="'Your friends most drunk beers'" [beers]="beers"></app-beer-top10>
  <app-beer-top10 [title]="'Your friends top rated beers'" [beers]="beers"></app-beer-top10>
</div>

<button (click)="checkLocation()">test</button>
